h1 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.myHeader.ui-header.ui-bar-inherit {
  background-color: #1c1e21;
}

/* ADDED CSS */
body {
  margin: 0;
  padding: 0;
}

body {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #f5f5f5;
  color: #4d4d4d;
  margin: 0 auto;
}

button {
  outline: none;
}

.ui-input-text.ui-body-inherit.ui-corner-all.ui-shadow-inset {
  height: 50px;
}

#to_do_list {
  margin: 0;
  padding: 0;
  list-style: none;
}

#to_do_list li {
  position: relative;
  font-size: 24px;
  border-bottom: 1px solid lightgrey;
}

#to_do_list li .toggle {
  text-align: center;
  width: 40px;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  appearance: none;
  border-style: solid;
}

#to_do_list li span {
  white-space: pre;
  padding: 15px 60px 15px 15px;
  color: black;
  margin-left: 45px;
  display: block;
  line-height: 1.2;
}

#new_task {
  background: white;
  font-size: 24px;
  margin: 0px 0 40px 0;
  position: relative;
  margin-top: 15px;
}

#mark_task_completed {
  position: relative;
  top: 0px;
  left: 0px;
  width: 40px;
  height: 20px;
}

#to_do_list li .destroy {
  display: none;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  width: 40px;
  height: 40px;
  margin: auto 0;
  font-size: 30px;
  color: #b43e4e;
  margin-bottom: 11px;
}

#to_do_list .destroy:after {
  content: "×";
}

#to_do_list li:hover .destroy {
  display: block;
}

#add_task_button {
  background-color: #1abc9c;
  margin-top: 20px;
}

.ui-input-text.ui-body-inherit.ui-corner-all.ui-shadow-inset {
  margin-top: 30px;
  height: 50px;
  margin-bottom: 15px;
}

.ui-footer.ui-bar-inherit {
  position: fixed;
}

button#add_task_button {
  margin-top: 20px;
}

button#delete_all_completed_task {
  color: red;
}
